/* Import fonts
-------------------------------------------------- */
@font-face {
  font-family: 'helvetica-roman';
  src: url(../fonts/HelveticaLTStd-Roman.otf);
}

@font-face {
  font-family: 'helvetica-light';
  src: url(../fonts/HelveticaLTStd-Light.otf);
}

@font-face {
  font-family: 'helvetica-bold';
  src: url(../fonts/HelveticaLTStd-Bold.otf);
}

/*@font-face{font-family:'gothic';src:url(../fonts/GOTHIC.otf);}*/

/* Bootstrap Customize
-------------------------------------------------- */
.container {
  max-width: 1230px !important;
}

/* Global CSS
-------------------------------------------------- */
a {
  color: #000;
}

a:hover,
a:active,
a:focus {
  color: #414141;
  text-decoration: none;
}

.jumbotron {
  border-radius: 0;
}

.jumbotron h1.title {
  font-size: 3.1rem;
  font-family: 'helvetica-roman';
  position: relative;
}

.btn-up {
  background: url('../images/icons/icon-up.png') no-repeat;
  padding: 13px;
  position: absolute;
  right: 1.8rem;
  bottom: -8.5rem;
}

.heading-page {
  min-height: 500px;
}

.heading-page h1 {
  font-family: 'helvetica-bold';
  font-size: 4.5rem;
}

.help-text {
  font-size: 1.1rem;
  color: #55575b;
  margin-top: 4rem !important;
  margin-bottom: 3.5rem !important;
}

@media(max-width: 800px) {
  .heading-page h1 {
    font-size: 2rem;
  }
}

/* Home Page
-------------------------------------------------- */
/*-- Slider */
#carousel-principal.carousel {
  padding-top: 9.2rem;
  margin-bottom: 4rem;
  font-family: 'helvetica-light', Arial, Helvetica, sans-serif;
  transition: ease all .5s;
}

#carousel-principal.carousel.small {
  padding-top: 17.2rem;
  transition: ease all .5s;
}

#carousel-principal .carousel-caption {
  right: 11rem;
  bottom: 6rem;
  z-index: 10;
}

#carousel-principal .carousel-item {
  height: 58.5rem;
}

#carousel-principal .carousel-item .s-4 {
  font-size: 4.3rem;
  margin: 0 !important;
  line-height: 5.5rem;
  text-shadow: 0 0 10px #171717;
}

#carousel-principal .carousel-item .sb-5 {
  font-size: 6.5rem;
  font-family: 'helvetica-bold';
  margin: 0;
  line-height: 6rem;
  text-shadow: 0 0 10px #171717;
}

/*-- Nav top */
.nav-top {
  font-family: 'helvetica-light', Arial, Helvetica, sans-serif;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
}

.nav-top .divider {
  width: 1px;
  height: 13px;
  background: #b1b1b1;
  margin-top: 11px;
}

.nav-top ul {
  font-size: .87rem;
}

.nav-top ul li {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.nav-top ul li:last-child {
  padding-right: 0 !important;
}

.nav-top .nav-link {
  color: #fff !important;
}

.nav-top .search-form-top {
  width: 0;
  overflow: hidden;
  transition: ease .2s all;
}

.nav-top .search-form-top .form-inline {
  position: absolute;
  left: 0;
  top: 3rem;
  transition: ease all .5s;
}

.nav-top .search-form-top .form-inline input {
  background: #4a4a4a;
  border: 0;
  font-size: .9rem;
  width: 34rem;
  color: #dedede;
}

.nav-top .search-form-top.small {
  width: auto;
  transition: ease .2s all;
}

/*-- Nav principal */
.nav-principal {
  font-family: 'helvetica-light', Arial, Helvetica, sans-serif;
  padding: 1rem 0 1.6rem 0;
  width: 100%;
  height: 154px;
  top: 2.2rem;
  z-index: 9999;
  background: #fff;
  position: fixed;
  transition: ease .2s all;
}

.nav-principal .navbar {
  top: 3rem;
}

.nav-principal.small {
  height: 85px !important;
  transition: ease .3s all;
}

.nav-principal ul {
  font-size: 1.2rem;
}

.nav-principal ul li {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

.nav-principal ul li:last-child {
  padding-right: 0 !important;
}

.nav-principal ul li a {
  position: relative;
}

.nav-principal ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 9%;
  bottom: 0;
  background: #333333;
  transition: ease all .4s;
}

.nav-principal ul li a:hover::after {
  width: 84%;
  transition: ease all .3s;
}

@media(max-width: 800px) {
  .nav-principal #navbarCollapse {
    background: rgba(10, 10, 10, 0.95);
    margin-left: -16px !important;
    margin-right: -16px !important;
  }

  .nav-principal ul li {
    border-bottom: 1px solid #464646;
  }

  .nav-principal #navbarCollapse .navbar-nav {
    width: 91%;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 35rem;
  }

  .nav-principal #navbarCollapse .navbar-nav .nav-link {
    color: #dcdcdc;
  }

  .nav-principal #navbarCollapse .search-form {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .nav-principal #navbarCollapse .search-form input {
    width: 348px !important;
  }

  #carousel-principal .carousel-item {
    height: 33.5rem !important;
  }

  /*#carousel-principal .carousel-item img.img-slide{
        width: 200% !important;
        height: 100%;
    }*/
  #carousel-principal .carousel-item .s-4 {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  #carousel-principal .carousel-item .sb-5 {
    font-size: 2.5rem;
    line-height: 2.4rem;
  }

  #carousel-principal .carousel-caption {
    width: 80%;
    bottom: 2rem;
  }

  #carousel-principal.carousel.small {
    padding-top: 5rem;
  }

  /*-- Enfocados */
  .enfocados h1.title {
    font-size: 2.5rem !important;
  }

  .enfocados h1.title:after {
    width: 73% !important;
    right: 5.5rem !important;
  }

  /*-- Marcas */
  .jumbotron {
    padding: 2rem 0rem !important;
  }

  .marcas h1.title::after {
    left: 52.5% !important;
  }

  .marcas p {
    width: 100% !important;
  }

  .jumbotron h1.title {
    font-size: 2.5rem;
  }

  /*-- Noticicas */
  .noticias .row {
    margin-left: 0 !important;
  }

  /*-- Footer */
  .footer .col-12 {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  .footer .copyright {
    height: 130px !important;
  }

  .footer .copyright .col-12 {
    text-align: center !important;
    margin-bottom: 0 !important;
  }

  .footer .copyright .nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  /*-- Navtop */
  .nav-top ul {
    font-size: .65rem;
    margin-left: 1rem !important;
    flex-direction: row;
  }
}

/*-- Logo */
.logo {
  width: 11rem;
  height: 7rem;
  background-image: url(../images/logo_agrovet.png);
  background-repeat: no-repeat;
}

.logo.small {
  width: 14rem;
  height: 4rem !important;
  background-image: url(../images/logo_agrovet_small.png) !important;
}

/*-- Search form */
.search-form {
  position: absolute;
  right: 0;
  top: 0px;
  margin-right: 10px;
}

.search-form.small {
  height: 0;
  opacity: 0;
  z-index: -1;
}

.search-form input {
  border: 0;
  border-bottom: 1px solid #a5a6a6;
  border-radius: 0;
  width: 236px !important;
  text-align: center;
  font-size: 13px;
}

.search-form .btn {
  position: absolute;
}

.search-form .btn-lupa {
  background: url(../images/icons/icon-lupa.png) no-repeat;
  position: absolute;
  right: 5px;
}

/*-- Enfocados */
.enfocados {
  font-family: 'helvetica-light';
  margin-bottom: 4rem;
  padding: 4rem 0 10.5rem 0;
}

.enfocados h1.title {
  font-size: 4rem;
  max-width: 460px;
  position: relative;
}

.enfocados h1.title:after {
  content: "";
  position: absolute;
  width: 37%;
  height: 3px;
  background: #000;
  right: 0;
  bottom: 0;
}

.enfocados h1.title>.bold {
  font-family: 'helvetica-bold';
}

.enfocados .lead {
  padding-top: .5rem;
  font-size: 1.1rem;
}

.enfocados .more {
  font-family: 'helvetica-roman';
  font-weight: 'bold';
}

/*-- Nuestras marcas */
.marcas {
  font-family: 'helvetica-light';
  background-color: #f6f6f6 !important;
  padding-top: 9rem;
  position: relative;
  padding-bottom: 7.5rem;
}

.marcas p {
  width: 65%;
  margin: auto;
  font-size: 1.18rem;
}

.marcas h1.title::after {
  content: "";
  position: absolute;
  width: 4.3rem;
  height: 5px;
  background: #000;
  left: 59.5%;
  bottom: 20px;
}

.marcas .prev {
  background: url('../images/icons/icon-nextprev.png') no-repeat;
  transform: rotate(-180deg);
  width: 42px;
  height: 80px;
  position: absolute;
  left: 2rem;
  top: 62%;
}

.marcas .next {
  background: url('../images/icons/icon-nextprev.png') no-repeat;
  width: 42px;
  height: 80px;
  position: absolute;
  right: 4rem;
  top: 62%;
}

/*-- Carousel Marcas */
.carousel-marcas .card {
  height: 456px;
  overflow: hidden;
  border: 0;
  border-radius: 0;
}

.carousel-marcas .body-hover {
  font-family: 'helvetica-roman';
  position: absolute;
  width: 100%;
  height: 67%;
  left: 0;
  top: 9.4rem;
  padding: 2rem 1.4rem;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  z-index: -1;
  transition: ease-in-out all .2s;
}

.carousel-marcas .card:hover .body-hover {
  opacity: 1;
  z-index: 1;
  transition: ease-in all .15s;
}

.carousel-marcas .body-hover h4.title {
  width: auto;
  font-size: 1.1rem;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-bottom: 1px solid #846f52;
  color: #846f52;
  display: inline-block;
}

.carousel-marcas .body-hover p {
  width: 100% !important;
  font-size: 0.9rem;
}

.carousel-marcas .btn-outline-secondary {
  border-radius: 0 !important;
  bottom: 2.5rem;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  font-size: 0.98rem;
  width: 140px;
  padding: .6rem 0;
}

/*-- Noticias */
.noticias {
  font-family: 'helvetica-light';
  background-color: #fff !important;
  padding-top: 9rem;
  position: relative;
  padding-bottom: 7.5rem;
}

.noticias h1.title::after {
  content: "";
  position: absolute;
  width: 4.3rem;
  height: 5px;
  background: #000;
  left: 67.5%;
  bottom: 20px;
}

.noticias .card {
  border: 0 !important;
  font-family: 'helvetica-light';
}

.noticias .card .card-img-top {
  border-radius: 0 !important;
}

.noticias h4.title {
  font-family: 'helvetica-roman';
  font-size: 0.99rem;
  color: #846f52;
  position: relative;
  padding-bottom: 7px;
}

.noticias h4.title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: #846f52;
  left: 0;
  bottom: 0;
}

.noticias p.date {
  font-size: 0.87rem;
}

.noticias p.resume {
  font-size: 1rem;
  text-align: justify;
  line-height: 20px;
}

.noticias a.lead {
  font-size: 0.81rem;
  color: #846f52;
}

.noticias .btn-control {
  background: #C9C7C8;
  border-radius: 0 !important;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  padding: 2px 0;
}

.noticias .btn-control:hover {
  background: #303030;
  color: #fff;
  transition: ease background .3s;
}

.noticias .prev {
  right: 4.2rem;
}

.noticias .next {
  right: 1.6rem;
}

/*-- Footer */
.footer {
  font-family: 'helvetica-roman';
  font-size: 0.8rem;
  background: #202020;
  padding: 5rem 0 14rem 0;
  color: #fff;
  position: relative;
}

.footer a {
  color: #fff;
}

.footer h6.ul-heading {
  font-family: 'helvetica-bold';
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.footer .nav-item.gps {
  background: url('../images/icons/icon-gps.png') no-repeat;
  background-position: 0px 3px;
  padding-left: 26px;
}

.footer .nav-item.mail {
  background: url('../images/icons/icon-mail.png') no-repeat;
  background-position: 0px 4px;
  padding-left: 26px;
}

.footer .nav-item.phone {
  background: url('../images/icons/icon-phone.png') no-repeat;
  background-position: 0px 4px;
  padding-left: 26px;
}

.footer .nav-link {
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.footer .copyright {
  width: 100%;
  height: 80px;
  line-height: 3px;
  padding-top: 1.7rem;
  background: #1C1C1C;
  position: absolute;
  bottom: 0;
  font-family: 'helvetica-light';
}

.footer .copyright .company {
  color: #9c7c41;
}

.footer .copyright .social {
  padding: 4px 13px;
  margin: 5px;
}

.footer .social.fb {
  background: url('../images/icons/icon-fb.png') no-repeat;
}

.footer .social.yt {
  background: url('../images/icons/icon-yt.png') no-repeat;
}

.footer .social.tw {
  background: url('../images/icons/icon-twitter.png') no-repeat;
}

.footer .social.in {
  background: url('../images/icons/icon-in.png') no-repeat;
}


/* Contactenos Page
-------------------------------------------------- */
#contactenos {
  padding-bottom: 110px;
  position: relative;
  z-index: 9;
}

#contactenos .fieldset {
  font-family: helvetica-roman;
  color: #333;
  margin-bottom: 1rem;
}

#contactenos .menu h1 {
  font-family: 'helvetica-bold';
  font-size: 40px;
  color: #333;
  margin-bottom: 30px;
}

#contactenos .menu ul {
  padding: 0;
  list-style-type: none;
}

#contactenos .menu ul li {
  font-family: 'helvetica-roman';
  font-size: 14px;
  color: #868686;
  margin-left: 4px;
  margin-bottom: 15px;
}

#contactenos .mapa {
  overflow: hidden;
  margin-bottom: 2rem;
}

#contactenos .icon_direc {
  background: url(../images/icons/icon-gps-gold.png) no-repeat 3px;
  padding-left: 1.5rem;
}

#contactenos .icon_direc .text {
  margin-left: 10px;
}

#contactenos .icon_email {
  background: url(../images/icons/icon-mail-gold.png) no-repeat 0 4px;
  padding-left: 1.5rem;
}

#contactenos .icon_email .text {
  margin-left: 6px;
}

#contactenos .icon_telef {
  background: url(../images/icons/icon-phone-gold.png) no-repeat 0 3px;
  padding-left: 1.5rem;
}

#contactenos .icon_telef .text {
  margin-left: 6px;
}

/* Ripple effect */
.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}

/* Ripples animation */
@keyframes ripples {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/* chevron-right in button */
i.chev-r {
  font-style: normal;
  font-family: monospace;
  font-weight: 700;
  top: -1px;
  right: 4px;
  position: relative;
  transition: ease all .5s;
}

#contactenos .btn-submit {
  width: 312px;
  height: 40px;
  font-size: 1.1rem;
  margin: auto;
  margin-top: 65px;
  background: #303030;
  color: #fff;
  font-family: 'helvetica-bold';
}

#contactenos .btn-submit:hover {
  color: #9c8967;
}

#contactenos input.form-control,
#contactenos textarea.form-control,
#contactenos select.form-control,
#contactenos option.form-control {
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  color: #9c9c9c;
  font-size: 14px;
  font-family: 'helvetica-light';
}

#contactenos input.form-control::placeholder,
#contactenos textarea.form-control::placeholder,
#contactenos option.form-control:hover {
  color: #b7b7b7;
}

#contactenos select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: realtive;
  background: url(../img/form-select-arrow.png) no-repeat top 12px right 12px;
  background-size: 15px;
  transition: ease-in-out .2s all;
}

#contactenos select.form-control:focus {
  background: url(../img/form-select-arrow-up.png) no-repeat top 12px right 12px;
  background-size: 16px;
  transition: ease-in .2s all;
}

#contactenos .checkboxes {
  padding-left: 20px;
}

#contactenos .customcheck {
  display: block;
  position: relative;
  padding-left: 21px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'helvetica-roman';
  font-size: .8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contactenos .customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#contactenos .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #fff;
  border: 1px solid #bea373;
  margin-top: 3px;
}

#contactenos .customcheck:hover input~.checkmark {
  background-color: #f3f2f0;
}

#contactenos .customcheck input:checked~.checkmark {
  background-color: #bea373;
}

#contactenos .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#contactenos .customcheck input:checked~.checkmark:after {
  display: block;
}

#contactenos .customcheck .checkmark:after {
  left: 3px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#contactenos .refresh-captcha {
  background: url(../images/icons/icon-refresh.png) no-repeat;
  padding: 5px 0;
  padding-left: 1.6rem;
  font-family: 'helvetica-roman';
  font-size: 0.75rem;
  transition: ease all .5s;
}

#contactenos .refresh-captcha:hover {
  color: #00d0fb !important;
  transition: ease all .2s;  
}


/* Directorio Page
-------------------------------------------------- */
#directorio { font-family: 'helvetica-roman';color: #55575b;}
#directorio .title{
  font-family: 'helvetica-bold';
  font-size: 1.3rem;  
  margin-bottom: 3rem;
}
#directorio .divider {     margin: 3rem 0;}
#directorio h3{ font-family: 'helvetica-light'; font-size: 1.8rem;line-height: 20px;}
#directorio .cargo {font-size: 1rem; color: #846f51}
@media(max-width: 800px){
  #directorio .col-12{
    padding-right: 15px;
    padding-left: 15px !important;
  }
  #directorio .divider{
    margin: 0;
  }
  #directorio .resume { padding: 2rem 0;}
  #directorio h3{     line-height: initial; }
}


/* Utilities
-------------------------------------------------- */
.bg-black {
  background-color: #0a0a0a !important;
}